{% extends "shop/layout.html" %}

{% block main %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Password Reset Complete</h1>
            <!-- <p class="lead fw-normal text-white-50 mb-0">Probably don't need</p> -->
        </div>
    </div>
</header>

<p class="pads"></p>
<center>
<a href="{% url 'login' %}">Back to Login</a>
</center>
<p class="pads"></p>
{% endblock %}