{% extends "shop/layout.html" %}

{% block main %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Send Password Reset Link</h1>
            <!-- <p class="lead fw-normal text-white-50 mb-0">Probably don't need</p> -->
        </div>
    </div>
</header>

<p class="pads"></p>
<center>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reset">
</form>
</center>
<p class="pads"></p>

{% endblock %}